<!DOCTYPE html>
<html lang="en" ng-app="AnaLog">
<head>
    <meta charset="UTF-8">
    <title ng-bind="watchingLog">АнаЛог v0.6</title>
    <script src="webjars/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <!--<script src="js/jquery-smooth-scroll.js" type="text/javascript"></script>-->
    <script src="webjars/highlightjs/9.7.0/highlight.min.js" type="text/javascript"></script>
    <!--<script src="js/main.js" type="text/javascript"></script>-->

    <script src="webjars/angularjs/1.5.8/angular.js"></script>
    <script src="js/main-controller.js" type="text/javascript"></script>
    <script src="js/choice-service.js" type="text/javascript"></script>
    <script src="js/provider-service.js" type="text/javascript"></script>
    <script src="js/rendering-service.js" type="text/javascript"></script>
    <script src="js/utils.js" type="text/javascript"></script>

    <link rel="stylesheet" href="webjars/highlightjs/9.7.0/styles/github-gist.css">
    <link rel="stylesheet" href="css/main.css" type="text/css"/> <!-- This should go after link to HLJS style sheet -->
</head>
<body>
<div id="controlPanel" ng-controller="controlPanelController">
    <label>
        <input type="checkbox" name="updateToggler" ng-model="onAir" ng-change="toggleOnAir()"/>Обновлять ежесекундно&nbsp;
    </label>
    <button name="updateNowButton" ng-click="updateNow()" ng-disabled="onAir">Обновить сейчас</button>
    &nbsp;
<!--
    <label>
        <input type="checkbox" name="watchToggler" onchange="toggleWatching();" disabled="disabled"/>Следить
    </label>
-->
    <label for="combobox">&nbsp;&nbsp;Файл:&nbsp;</label>
    <select id="combobox" name="logFileName"
            ng-options="choice.fileName group by choice.group for choice in choices"
            ng-model="selectedLog"
            ng-change="onLogChange()">
    </select>
    <label>
        <select id="encoding" name="encoding" ng-model="encoding">
            <option value="cp1251">CP-1251</option>
            <option value="utf8">UTF-8</option>
        </select>
    </label>

    &nbsp;
    <div id="loader" ng-class="{loading: onAir}">&nbsp;</div>
    &nbsp;&nbsp;
    <button ng-click="prepend()" id="prependingMode">Промотать вверх</button>
    <label>
        <select name="prependingSize" ng-model="prependingSize">
            <option value="1" selected="selected">на 1%</option>
            <option value="5">на 5%</option>
            <option value="10">на 10%</option>
            <option value="20">на 20%</option>
            <option value="30">на 30%</option>
            <option value="50">на 50%</option>
            <option value="100">до начала</option>
        </select>
    </label>

    &nbsp;&nbsp;
    <button ng-click="clear()">Очистить</button>
</div>
<br/>
<br/>

<div id="consolePanel"></div>
<img id="substrate" src="img/magnifier.jpg"/>
<div id="scrollTarget" style="size: 0"></div>
</body>
</html>