/*
 * Composite records' styles.
 * Generated with Stylus CSS preprocessor.
 */

// The following colors are the same as declared in 'tech.toparvion.analog.remote.server.ColorPicker.Color'
// (order doesn't matter).
colors = {
  blue: #3C476B
  green: #425444
  orange: #7F4931
  rose: #6E414E
  violet: #504157
  brown: #4F4838
}

compRec = '.composite-record'

{compRec}
  // display (flex) props
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content flex-start
  align-items stretch
  margin-top 1px
  // border props
  border-width 0 5px 0 0
  border-style solid

{compRec}>.marker
  flex-grow 0
  flex-shrink 1
  flex-basis auto
  align-self stretch    // this is why flex container is used here - it allows to stretch even empty divs for free
  min-width 12px
  max-width 12px
  margin-right 5px      // to introduce a distance between marker and designated record

{compRec}>.payload
  flex-grow 1
  flex-shrink 1
  flex-basis auto
  align-self auto

.text-nowrap {compRec}
  border-width 0 0 0 0
  // TODO adjust highlighting width to record's width when no right border present

for colorName, colorValue in colors
  /* Next highlighting entry */
  {compRec}.highlight-{colorName} {
    border-color colorValue + 20%
    position relative       // in order for ':before' element to snap its position to non-static parent
    z-index 1
  }
  {compRec}.highlight-{colorName}:before {
    display block
    position absolute
    top 0       // to align with margin-top of the marker
    left 0      // to closely contact with marker
    width 100%
    height 100%
    z-index -1
    opacity: 0
    content: ''
    background linear-gradient(
            to right,
            alpha(colorValue, 1) 0%,
            alpha(colorValue, 0.4) 2%,
            alpha(colorValue, 0.4) 98%,
            alpha(colorValue, 1) 100%)
    transition opacity 0.45s
  }
  {compRec}.highlight-{colorName}:hover:before {
    opacity 1
  }
  {compRec}.highlight-{colorName} .marker
    background colorValue + 20%
