.loader {
    border: 3px solid #de891b;
    border-top: 3px solid #ffffff;
    border-radius: 80%;
    width: 15px;
    height: 15px;
    animation: spin 1000ms linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dialog-header {
    display: flex;
    align-items: center;
}

.dialog-header h4 {
    margin-right: 5px;
}

.panel {
    position: fixed;
    margin-top: 5px;
}

.panel table {
    margin-bottom: 10px;
}

.panel table tr {
    line-height: 0.8;
}

.panel .cancel {
    margin-left: 15px;
}

.node-list {
    display: block;
    /* width: 100%; */
    /* height: 38px; */
    padding: 1px 5px;
    font-size: 14px;
    line-height: 1.428571;
    color: #272b30;
    background: #ffffff none;
    border: 1px solid #000000;
    /*border-radius: 4px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


