.loader {
    border: 3px solid #de891b;
    border-top: 3px solid #ffffff;
    border-radius: 80%;
    width: 15px;
    height: 15px;
    animation: spin 1000ms linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dialog-header {
    display: flex;
    align-items: center;
}

.dialog-header h4 {
    margin-right: 5px;
}

.panel {
    position: fixed;
    margin-top: 5px;
}

.panel table {
    margin-bottom: 10px;
}

.panel table tr {
    line-height: 0.8;
}

.panel, .cancel {
    margin-left: 15px;
}


